<form class="form" [formGroup]="form">

  <mat-form-field class="w-full mb-2">
    <mat-label>E-Mail</mat-label>
    <input matInput type="text" formControlName="email">
    <mat-error *ngIf="emailControl?.hasError('required')">
      <span class="text-xs">Email ist ein <strong>Pflichtfeld</strong></span>
    </mat-error>
  </mat-form-field>

  <div class="flex justify-between">
    <button mat-button color="primary" (click)="showLoginEvent.emit()">Zurück zum Login</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!form.valid">Passwort zurücksetzen</button>
  </div>

</form>
