<mat-card>
  <mat-card-header class="mb-4">
    <app-headline-two title="Projekte"></app-headline-two>
  </mat-card-header>
  <mat-list>
    <mat-list-item matRipple *ngFor="let project of projects" class="hover:bg-stone-50">
      <i matListItemIcon class="material-icons-outlined text-stone-500">workspaces</i>
      <div matListItemTitle>{{project.name}}</div>
      <div matListItemLine>{{project.updated}}</div>
    </mat-list-item>
    <mat-list-item *ngIf="!projects || projects.length === 0" class="hover:bg-stone-50">
      <div matListItemTitle>Keine Einträge gefunden</div>
      <div matListItemMeta>
        <button mat-icon-button>
          <i class="material-icons-outlined">refresh</i>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>