<div class="layout__container" [class.is-mobile]="mobileQuery.matches">
  <app-navbar (sidenavToggle)="snav.toggle()"></app-navbar>
  <mat-sidenav-container class="sidenav__container h-full">
    <mat-sidenav class="sidenav__nav mat-elevation-z4" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>

        <mat-list-item>
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <a routerLink="/dashboard">Dashboard</a>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListItemIcon>workspaces</mat-icon>
          <a routerLink="/projetcs">Projekte</a>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListItemIcon>task</mat-icon>
          <a routerLink="/tasks">Aufgaben</a>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListItemIcon>group</mat-icon>
          <a routerLink="/tenants">Mandanten</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="containter">
        <main>
          <router-outlet></router-outlet>
        </main>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>