<div class="layout__container" [class.is-mobile]="mobileQuery.matches">
  <app-navbar (sidenavToggle)="snav.toggle()"></app-navbar>
  <mat-sidenav-container class="sidenav__container h-full">
    <mat-sidenav class="sidenav__nav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item>
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <a routerLink="/dashboard">Dashboard</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>workspaces</mat-icon>
          <a routerLink="/dashboard">Projekte</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>task</mat-icon>
          <a routerLink="/dashboard">Aufgaben</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="containter pl-4 pt-4 pr-4 pb-12 ">
        <main>
          <router-outlet></router-outlet>
        </main>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>