<div class="layout__container" [class.is-mobile]="mobileQuery.matches">
  <app-navbar class="z-10" [currentUser]="currentUser" 
    (sidenavToggleEvent)="snav.toggle()"
    (logoutEvent)="logout()"
    (switchTenantEvent)="openSwitchTenantDialog()">
  </app-navbar>
  <mat-sidenav-container class="sidenav__container">
    <mat-sidenav class="sidenav__nav mat-elevation-z2" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>

        <mat-list-item routerLink="/dashboard">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span>Dashboard</span>
        </mat-list-item>

        <mat-list-item *ngIf="currentUser?.isAdmin" routerLink="/tenants">
          <mat-icon matListItemIcon>group</mat-icon>
          <span>Mandanten</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="containter">
        <main>
          <router-outlet></router-outlet>
        </main>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>