<mat-card>
  <mat-card-header>
    <app-headline-two title="Meine Zeiterfassung"></app-headline-two>
  </mat-card-header>

  <mat-card-content>

    <div class="flex justify-between items-center mt-4 mb-4">
      <div class="flex-1 flex justify-center">
        <li class="list-none text-center">
          <ul><span class="text-3xl font-thin">{{todaySeconds | duration}}</span></ul>
          <ul><span class="">{{today | date}}</span></ul>
        </li>
      </div>
      <div class="flex-1 flex justify-center">
        <mat-progress-spinner color="primary" mode="determinate" defaultColor="#333333" [value]="todaySeconds / 28800 * 100"></mat-progress-spinner>
      </div>
      <div class="flex-1 flex justify-center">
        <button mat-fab (click)="openTimeTrackingDialog()">
          <mat-icon>add_task</mat-icon>
        </button>
      </div>
    </div>

    <div class="data-list-container">
      <mat-list>
        <mat-list-item *ngFor="let time of timeRecords">
          <i matListItemIcon class="material-icons-outlined">timer</i>
          <div matListItemTitle>{{time.task.name}}</div>
          <span matListItemLine *ngIf="time.task.description">{{time.task.description}}</span>
          <div matListItemMeta><span class="font-semibold">{{time.durationSeconds | duration}}</span></div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>

  </mat-card-content>

  <mat-card-footer>
    <mat-paginator [length]="timeRecords?.length" [pageSize]="pageSize" [pageIndex]="pageIndex"(page)="onPageChange($event)" hidePageSize="true"></mat-paginator>

    <app-progress-bar [loading$]="loading$"></app-progress-bar>
  </mat-card-footer>
</mat-card>