<div class="flex items-center justify-between pt-4 pl-4 pr-4">

  <app-headline-two [title]="id ? 'Mandanten bearbeiten' : 'Mandanten hinzufügen'"/>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="p-4">
  <app-tenant-form [id]="id" (successEvent)="closeDialogWithSuccess()" (startLoadingEvent)="loading$.next(true)" (stopLoadingEvent)="loading$.next(false)"></app-tenant-form>
</div>
<app-progress-bar [loading$]="loading$"></app-progress-bar>