<form [formGroup]="form" class="flex flex-col w-full">
  <mat-form-field *ngIf="_id">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" required>
    <mat-error *ngIf="emailControl?.hasError('email') && !emailControl?.hasError('required')">
      <span class="text-xs">Please enter a valid email</span>
    </mat-error>
    <mat-error *ngIf="emailControl?.hasError('required')">
      <span class="text-xs">E-Mail ist ein<strong>Pflichtfeld</strong></span>
    </mat-error>
  </mat-form-field>

  <mat-slide-toggle formControlName="is_admin"><span class="ml-2">ist Administrator?</span></mat-slide-toggle>

  <div class="flex justify-between mt-6">
    <button *ngIf="_id; else new" mat-raised-button color="warn" (click)="delete()" type="button">Löschen</button>
    <ng-template #new>
      <div></div>
    </ng-template>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid"
      (click)="onSubmit()">Speichern</button>
  </div>
</form>