<mat-card>

  <mat-card-header>
    <div class="flex justify-between items-center w-full">
      <app-headline-two title="Zeiterfassung"></app-headline-two>
      <app-toggle-button firstButtonIcon="timer" secondButtonIcon="list_alt"
        (activeChangedEvent)="activeView = $event"></app-toggle-button>
    </div>
  </mat-card-header>

  <mat-card-content>

    <ng-container *ngIf="activeView === 1; else showTimer">
      <app-timer (reloadEvent)="loadTimeRecords()"></app-timer>
    </ng-container>

    <ng-template #showTimer>
      <div class="flex justify-between items-center mt-4 mb-4 h-24">
        <div class="flex-1 flex justify-center">
          <li class="list-none text-center">
            <ul><span class="text-3xl font-thin">{{todaySeconds | duration}}</span></ul>
            <ul><span class="">{{today | date}}</span></ul>
          </li>
        </div>
        <div class="flex-1 flex justify-center">
          <div class="spinner">
            <div class="spinner__background h-24 w-24"></div>
            <mat-progress-spinner diameter="96" color="primary" mode="determinate"
              [value]="todaySeconds | workPercent"></mat-progress-spinner>
          </div>
        </div>
        <div class="flex-1 flex justify-center">
          <button mat-fab (click)="openTimeTrackingDialog()">
            <mat-icon>add_task</mat-icon>
          </button>
        </div>
      </div>
    </ng-template>

    <mat-list>
      <mat-list-item *ngFor="let time of timeRecords">
        <i matListItemIcon class="material-icons-outlined text-gray-500">timer</i>
        <div matListItemTitle>{{time.task!.subject | truncate}}</div>
        <div matListItemLine><span>{{time.description | truncate}}</span></div>
        <div matListItemMeta><span>{{time.durationSeconds | duration}}</span></div>
      </mat-list-item>
    </mat-list>

  </mat-card-content>

  <mat-card-footer>
    <mat-paginator [length]="paginator.total" [pageSize]="paginator.pageSize" [pageIndex]="paginator.pageIndex"
      (page)="onPageChange($event)" hidePageSize="true"></mat-paginator>
    <app-progress-bar [loading$]="loading$"></app-progress-bar>
  </mat-card-footer>

</mat-card>