.mat-mdc-list-item-icon {
  color: rgba(0, 0, 0, 0.54);
}

.mdc-list-item__start {
  margin-right: 1rem;
}

.spinner {
  position: relative;
}
.spinner__background {
  position: absolute;
  line-height: 96px;
  text-align: center;
  overflow: hidden;
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  border-color: #F5F5F5;
}