<mat-form-field class="w-full" appearance="fill">
  <mat-label>Auswahl Projektaufträge</mat-label>
  <mat-select [formControl]="orderFormControl">
    <mat-option *ngFor="let option of projectOrders" [value]="option.id">
      {{option.id}} - {{option.commission}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="w-full" appearance="fill">
  <mat-label>Auswahl Projekt Positionen</mat-label>
  <mat-select [formControl]="orderItemFormControl">
    <mat-option *ngFor="let option of orderItems | async" [value]="option.id">
      {{option.id}} - {{option.title ?? option.articleNumber }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="w-full" appearance="fill">
  <mat-label>Auswahl Aufgabe</mat-label>
  <mat-select [formControl]="formControl" (blur)="onTouched()" (input)="resetSelection()"
    (selectionChange)="selected($event)">
    <mat-option *ngFor="let option of tasks | async" [value]="option">
      {{option.id}} - {{option.subject}}
    </mat-option>
  </mat-select>
</mat-form-field>