.mdc-list-item__start {
  margin-right: 1rem;
}

.spinner {
  position: relative;
}

.spinner__background {
  position: absolute;
  line-height: 96px;
  text-align: center;
  overflow: hidden;
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  border-color: #e7e5e4;
}