<div class="flex items-center mt-4 mb-4 h-24">
  <div class="flex-1 flex justify-center">
    <button mat-icon-button matTooltip="Timer zurücksetzen" color="warn" (click)="delete()" [disabled]="!(timerRunning$ | async) && !timerService.endTime">
      <i class="material-icons-outlined">delete_forever</i>
    </button>
  </div>
  <div class="flex-1 flex justify-center">
    <span class="text-5xl">{{ timer$ | async | durationWithSeconds}}</span>
  </div>
  <div class="flex-1 flex justify-center">
    <button matTooltip="Arbeitszeit erfassen" *ngIf="timerService.endTime; else startTemplate" mat-mini-fab color="accent" (click)="openTimeTrackingDialog()">
      <mat-icon>playlist_add</mat-icon>
    </button>

    <ng-template #startTemplate>
      <button matTooltip="Timer stoppen" *ngIf="timerRunning$ | async; else saveTemplate" mat-mini-fab color="accent" (click)="stop()">
        <mat-icon>pause</mat-icon>
      </button>
    </ng-template>

    <ng-template #saveTemplate>
      <button matTooltip="Timer starten" mat-mini-fab color="accent" (click)="start()">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </ng-template>
  </div>
</div>