<mat-toolbar color="primary" class="mat-elevation-z4 pl-0 flex justify-between items-center"
  style="padding: 0 0 0 4px;">
  <div class="flex">
    <button mat-icon-button (click)="toggle()"><mat-icon>menu</mat-icon></button>
    <app-wetrack-headline class="ml-4" [isNavbar]="true"></app-wetrack-headline>
  </div>
  <div class="pr-4">
    <div class="ml-4 relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-white rounded-full">
      <button mat-icon-button [matMenuTriggerFor]="menu"><span class="text-teal-700">{{ currentUser!.name | initials }}</span></button>
    </div>
    <mat-menu #menu="matMenu">
      <div mat-menu-item disabled="true">
        <div class="flex flex-col">
          <span>{{currentUser?.name}}</span>
          <span class="text-sm">{{currentUser?.email}}</span>
        </div>
      </div>
      <button mat-menu-item (click)="switchTenantEvent.emit()">
        <mat-icon>supervisor_account</mat-icon>
        <span>{{currentUser?.active_tenant?.name ?? '-'}}</span>
      </button>
      <button mat-menu-item (click)="logoutEvent.emit()">
        <mat-icon>logout</mat-icon>
        <span>Abmelden</span>
      </button>
      <button mat-menu-item>
        <mat-icon>question_mark</mat-icon>
        <span>Hilfe</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>